/* Стилизация кнопки */
.button {
    padding-right: 14px;
    padding-left: 14px;
    height: 48px;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    transition: 0.2s;

}

.button:active {
    transition: 0.2s;
}

.button_primary {
    background-color: var(--button-primary-n);
    color: white;
}

.button_primary:hover {
    background-color: var(--button-primary-h);
    color: white;
}

.button_secondary {
    background-color: var(--button-secondary-n);
    color: white;
}

.button_secondary:hover {
    background-color: var(--button-secondary-h);
    color: white;
}

.button_alternate {
    background-color: var(--white);
    border: 1px solid var(--grey-3);
    color: var(--grey-4);
}

.button_alternate:hover {
    background-color: var(--white);
    border: 1px solid var(--black);
    color: var(--grey-4);
}

.button:disabled {
    opacity: 50%;
    pointer-events: none;
}