/* Стилизация аккордеона */
<<<<<<< HEAD
.accordion {
    width: 730px;
}
=======
.accordion {}
>>>>>>> 9a31a89 (Скорректированы паддинги и структура)

.accordion__item {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    border: 1px solid var(--grey-3);
    border-radius: 8px;
<<<<<<< HEAD
    padding: 24px 32px 0 32px;
=======
    padding: 24px 32px;
>>>>>>> 9a31a89 (Скорректированы паддинги и структура)
    cursor: pointer;
    margin-bottom: 8px;
}

.accordion__item:last-child {
    margin-bottom: 0;
}

.accordion__title {
    color: var(--black);
<<<<<<< HEAD
    padding-bottom: 24px;
=======
>>>>>>> 9a31a89 (Скорректированы паддинги и структура)
}

.accordion__title [open] {
    margin-bottom: 24px;
}

.accordion__content {
<<<<<<< HEAD
    padding-bottom: 24px;
=======
    padding-top: 16px;
>>>>>>> 9a31a89 (Скорректированы паддинги и структура)
    line-height: 24px;
    color: var(--grey-4);
}


.accordion__title::-webkit-details-marker {
    /* нестандартный псевдоэлемент Google Chrome */
    display: none;
}