/* Стилизация аккордеона */
.accordion {
    width: 730px;
}

.accordion__item {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    border: 1px solid var(--grey-3);
    border-radius: 8px;
    padding: 24px 32px 0 32px;
    cursor: pointer;
    margin-bottom: 8px;
}

.accordion__item:last-child {
    margin-bottom: 0;
}

.accordion__title {
    color: var(--black);
    padding-bottom: 24px;
}

.accordion__title [open] {
    margin-bottom: 24px;
}

.accordion__content {
    padding-bottom: 24px;
    line-height: 24px;
    color: var(--grey-4);
}


.accordion__title::-webkit-details-marker {
    /* нестандартный псевдоэлемент Google Chrome */
    display: none;
}