.page {
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.header {
    height: 150px;
    background-color: blueviolet;
}

.main {
    background-color: yellow;
}

.footer {
    height: 200px;
    background-color: brown;
}