@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter/Inter-VariableFont_slnt\,wght.ttf");
}

.page {
    background-color: #F9FAFC;
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-row-gap: 36px;

}

.header {
    place-items: center;
    height: 82px;
    background-color: var(--white);
}

.main {
    display: grid;
    grid-template-columns: minmax(50px, 25%) 1fr;
    /* grid-column-gap: 56px; */

}

.footer {
    height: 166px;
    justify-self: center;
    padding-top: 56px;
    text-align: left;
    color: var(--grey-3);
}

.menu {
    justify-self: end;
    width: 229px;
}

.content {
    background-color: var(--white);
    width: 825px;
    height: 746px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px 0px #2124290D;
    padding-top: 32px;
    padding-left: 48px;

}

.menu li {
    list-style: none;
    font-family: "Inter";
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
}

.menu_li_hot {
    color: #D84910;
    ;
}

H5 {
    font-family: "Inter";
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0.04em;
}

h3 {
    font-family: Inter;
    font-size: 28px;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;
}

h4 {
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;

}

.menu_list {
    padding-top: 10px;
}