.checkbox {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 12px;
}

.checkbox__input {
    position: absolute;
    left: -100vw;
    opacity: 0;
}

.checkbox__state {
    box-sizing: border-box;
    width: 28px;
    height: 28px;
    border: 1px solid var(--grey-2);
    border-radius: 4px;
    cursor: pointer;
}

.checkbox__label {
    cursor: pointer;
    line-height: 24px;
    font-size: 16px;
    font-family: Inter;
    font-weight: 400;
    color: var(--grey-4);
}

/* CHECKED */

.checkbox__input:checked~.checkbox__state {
    background-color: var(--blue);
    background-image: url('data:image/svg+xml, <svg width="15" height="13" viewBox="0 0 15 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.5 7.5L5 11L13 2" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" /></svg>');
    background-position: center;
    background-repeat: no-repeat;
    border: none;
}

/* FOCUS */

.checkbox__input:focus~.checkbox__label {
    text-decoration: underline;
}

/* DISABLED */

.checkbox__input:disabled~.checkbox__label {
    color: var(--grey-2);
}

.checkbox__input:disabled~.checkbox__state {
    background-color: var(--grey-2);
}

/* Finish */